body{
	background-color: pink;
	background-repeat: no-repeat;
	font-family: 'Nunito';
	font-size: 25px;
	line-height: 1,6;
}
a{
	text-decoration: none;
	color: white;
}
p{
	color: pink;
}
h1{
	color: white;
	font-weight: 900;
}

h2{
	color: white;
	letter-spacing: 10px;
	font-size: 30px;
	font-family:Fjalla One;
}

h3{ 
	color: white;
}



@media(max-width: 700px){
	.list-horizontal{
		background-position: 0% 33%;
	}

	#text-left{
		padding-left: 85px;
		padding-top: 100px;
		margin-left: -100px;
		margin-top: -100px;

	}
	.media-mini{
		max-width:;

	}

	.banner{
		background-size: 400%; 
		font-size: 120%;
	} 

	.img-bigcircle{
		max-width: 150px; 
		max-height: 150px;
		height: auto;
	}

}

.header{
	width: 100%;
	margin-top: 0;
	margin-left: -10px;
	margin-right: 0;
	height: 50px;
	line-height: 50px;
	position: fixed;
	top: 0;
	color: white;
	background-color: #fa697c;
	opacity: 0.5;
}

#text-header{
	color: white;
}

.header-icon{
	float: right;
	margin-right: 20px;
}


.banner{
	font-family: 'Inconsolata';
	background-image: url(images/banner_2.jpg);
	background-repeat: no-repeat;
	width: auto;
	height: 600px;
	margin-top: -9px;
	margin-left: -10px;
	margin-right: -10px;
}

#text-left{
padding-left: 170px;
padding-top: 200px;
}

.image-banner{
	height: 200px;
	margin-left: 800px;
	margin-top: -250px;
}

 

.block-artist{
	height:200px;
	width: auto;
	background-image: url(images/banner.jpg);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.btn-green{
	background-color: #21bf73;
	color: black;
	border-radius: 4px;
	padding: 15px 20px;
	font-size: 15px;
}


.block-black{
	background-color: black;
	margin-top: -24px;
	margin-left: -10px;
	text-align: center;
	height: 150px;
	padding-top: 15px;
	margin-right: -10px;
}

#background-black{
	background: #3A3A3A;
margin-left: -10px;
margin-right: -10px;
}

#block-bottom{
	padding-bottom: 20px;
}

.list-horizontal{
	background-repeat: no-repeat;
background-image: url(images/tiramisu.jpg), url(images/nouilles.jpg), url(images/tajine.jpg);
background-position: left, center, right;
display: flex;
height: 540px;
margin-left: -30px;
justify-content: space-around;
margin-right: -10px;
}

.list-image{
	height: 1854px;
	margin-left: -10px;
	background-image: url(images/travel.jpg);
	vertical-align: middle;
	margin-right: -10px;
}

.li-spacer{
	font-size: 100px;
	font-family: 'Amatic SC';
	color: black;
	height: 634px;
	margin-bottom: 20px;
	margin-top: -25px;
}
.text-centered{
	text-align: center;
}
.img-bigcircle{
	border-radius: 50%;
	block-size: 400px;
	margin-top:-250px;
	padding-right: 50px;
	float: right;
}

.img-circle{
	block-size: 180px;
	border-radius: 50%;
	margin: auto;
}

#float-right{
}

.logo{
	margin-right: 600px;

}